*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build/generated
/captures
.externalNativeBuild
app/build
/*/local.properties
/*/out
/*/*/build
build/
/*/*/production
*.iml
*.iws
*.ipr
*~
